.page404 {
    background-color: black;
    min-height: calc(100vh - 313px);

    &__title {
        text-align: left;
        font-size: 50px;
        line-height: 70px;
        padding: 100px 0 50px;
    }
    &__link {
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 50px;
        color: #7e7e7e;
        transition: 0.3s ease;

        &:hover {
            color: $primary;
            transition: 0.3s ease;
        }
    }
}