//Apis
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

//Packaged
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

//Files
@import "footer";
@import "header";
@import "frontpage";

h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

//colors
$primary: #1A8FDD;
$secondary: #fff;
$bg: #000;