//Colors
$primary: #1A8FDD;
$white: #fff;
$black: #000;
$gray: #252525;
$lightgray:#7e7e7e;

//Apis
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

//Packages
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

//Files
@import "admin";
@import "footer";
@import "header";
@import "frontpage";
@import "recruitment";
@import "check";
@import "landing-page";
@import "404";

/*
*
*   Global settings
*
*/

h1, h2, h3, h4, h5, h6, p, a, span, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    color: $white;
}

a {
    color: white;
    text-decoration: none;
    &:hover {
        color: white;
        text-decoration: none;
    }
}

//Buttons
.btn {
    border-radius: 75px;
    padding: 5px 30px;  

    color: $white;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    &-primary {
        background-color: $primary;

        &:hover {
            
        }
    }

    &-outline {
        &-primary {
            background-color: $black;
            border: 1px solid $primary;

            &:hover {
                
            }
        }

        &-alert {
            background-color: $black;
            border: 1px solid red;

            &:hover {
                background-color: red;
            }
        }
    }
}